:root {
	--background-color: rgba(0, 0, 0, 0.507);
}
* {
	box-sizing: border-box;
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: var(--background-color);
}

.App {
	flex-direction: column;
}
.Product-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-flow: row;
	gap: 1rem;
	margin: 1rem auto;
	width: clamp(25rem, 75%, 85rem);
}
